/*navbar*/
$navbar-height:70px;

/* Colors*/
$primary-color:#003366;
$primary-light-color:#badbfd;
$secondary-color:#455361;
$light-color:#4f7294;
$success-color:#5fa07c;
$danger-color:#dc2e4e;
$grey-color:#eee;


$link-color:#e3ebf7;

